body {
    height: 100vh;
    overflow: hidden;
}

#site_header {
    height: 50px;
}

#site_header img{
    height: 50px;
}

main {
 overflow-y: auto;
}

.wrapper {
    height: calc(100%-50px);
}

.sidebar {
    min-width: 50px;
}

.img-code{
    width: 100%;
}


@media screen and (min-width:992px) {
    .sidebar {
        min-width: 90px;
    }
}