

body {
    height: 100vh;
    overflow: ;
}

#site_header {
    height: 50px;
}

#site_header img{
    height: 50px;
}

main {

}

.wrapper {
    height: calc(100%-50px);
}

.sidebar {
    min-width: 50px;
    max-width: 120px;
}

.img_20px{
    max-width: 30px;
}

.action_btn{
    all: unset;
    width: 30px;
    height: 30px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}


@media screen and (min-width:992px) {
    .sidebar {
        min-width: 90px;
    }
}