body {
    height: 100vh;
    overflow: hidden;
    font-size: 'Roboto', sans-serif;
    ;
}

#site_header {
    height: 50px;
}

#site_header img {
    height: 50px;
}

.my_min {
    width: 70px;
}

.wrapper {
    height: calc(100% - 50px);
}

.sidebar {
    max-width: 70px;
}

body #site_main {
    overflow-y: auto;
}

.img_20px {
    max-width: 30px;
}

.action_btn {
    all: unset;
    width: 30px;
    height: 30px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}



@media screen and (min-width:992px) {
    .sidebar {
        min-width: 120px;
    }

}