:root {}

.debug .debug #site_main {}


.debug .main_right {
    background-color: blueviolet;
    overflow-y: hidden;


}

.debug .main_left {
    background-color: pink;
}

.debug .main_r_top {

    background-color: fuchsia;
}


#site_header .navbar {
height: 50px;
}