
.debug #site_header  {
    background-color: blue;
    height: 5vh;
}

.debug #site_main  {

}


.debug .main_right{
    background-color: blueviolet;
    max-height: 95vh;
    overflow-y: hidden;
}

.debug .main_left{
    background-color: pink;
    height: 95vh;
}

.debug  .main_r_top{
    height: 40vh;
    background-color: fuchsia;
}