:root{
    
}

.debug #site_header {
    background-color: blue;
    min-height: 7vh;
}

.debug #site_main {

}


.debug .main_right {
    background-color: blueviolet;
    overflow-y: hidden;
    max-height: 93vh;

}

.debug .main_left {
    background-color: pink;
}

.debug .main_r_top {

    background-color: fuchsia;
}