body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 50px;
}

#site_header img{
    max-height: 45px;
}

main {
    overflow: auto;
}

.wrapper {
    height: calc(100%-50px);
}

.sidebar {
    min-width: 50px;
}



@media screen and (min-width:992px) {
    .sidebar {
        min-width: 90px;
    }
}