
.debug #site_header  {
    background-color: blue;
    height: 5vh;

}

.debug .main_right{
    height: 95vh;
    background-color: blueviolet;
}

.debug .main_left{
    background-color: pink;
    height: 95vh;
}