body {
    height: 100vh;
    overflow: hidden;
    font-size: 'Roboto', sans-serif;
    ;
}

body #site_main {
    overflow-y: auto; /*overflow only on main*/
}



#site_header img {
    height: 70px;
}

.wrapper {
    height: calc(100% - 70px);    /*wrapper dimensions*/
}



.sidebar {
    max-width: 70px;  /*first size of sidebar*/
}
.sidebar >ul >li:hover{
    background-color: black;  /*change bg oh hover*/
}


/*Utilities for "Prossime classi" TAB*/
.img_30px {
    max-width: 30px;
}

.action_btn {
    all: unset;
    width: 30px;
    height: 30px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}






/*media query*/
@media screen and (min-width:992px) {
    .sidebar {
        min-width: 140px;
    }

    #site_header img {
        width: 130px;
        padding-left: 10px;
    }

    .w_lg_50{
        max-width: 50%!important;
    }
}